/target/
/.tauri/

/gen/android/.gradle/
/gen/android/build/
/gen/android/buildSrc/.gradle/
/gen/android/buildSrc/build/
/gen/android/app/build/
/gen/android/.idea/
/gen/android/local.properties

/gen/android/app/src/main/assets/
/gen/android/app/src/main/jniLibs/

/gen/android/key.properties
/gen/android/keystore.properties
/gen/android/*.jks
/gen/android/*.keystore
