.card {
  inline-size: 85%;
  margin-block: 0 60px;
  margin-inline: auto;
}

.message {
  color: var(--tertiary-text-color);
}

.tabs {
  inline-size: 100%;
  margin-block: -3px 10px;
  color: var(--tertiary-text-color);
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  white-space: nowrap;
}

.selectedTab {
  border-block-end: 3px solid var(--primary-color);
  color: var(--primary-text-color);
  font-weight: bold;
  box-sizing: border-box;
  margin-block-end: -3px;
}

.tab {
  text-align: center;
  padding-block: 15px;
  padding-inline: clamp(8px, 3vw, 15px);
  font-size: 1.1em;
  cursor: pointer;
  align-self: flex-end;
  flex: 0 0 auto;
}

.tab:hover {
  font-weight: bold;
}

.subscriptionIcon {
  color: var(--primary-color);
}

@media only screen and (width <= 680px) {
  .card {
    inline-size: 90%;
  }

  .tab {
    font-size: 0.95em;
  }
}
