@font-face {
  font-family: Roboto;
  src: url('assets/font/Roboto-Regular.ttf');
}

.app {
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  block-size: 100%;
}

.routerView {
  flex: 1 1 0%;
  margin-block: 18px;
  margin-inline: 10px;
}

.banner {
  inline-size: 85%;
  margin-block: 40px 0;
  margin-inline: auto;
}

.banner + .banner {
  margin-block: 20px;
}

.banner-wrapper {
  margin-block: 0;
  margin-inline: 10px;
}

.flexBox {
  display: block;
  user-select: unset;
}

.changeLogTitle {
  padding-inline: 16px;
  overflow-wrap: break-word;
  margin-block-end: 16px;
}

.changeLogText {
  overflow-y: scroll;
  block-size: 40vh;
  display: block;
  padding-inline: 16px;
  margin-block-end: 16px;
  overflow-wrap: break-word;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@media only screen and (width <= 960px) {
  .app {
    display: block;
    min-block-size: 100%;
    --mobile-top-safe-area: 0px;
    --mobile-top-bar-height: 56px;
    --mobile-content-top-space: calc(var(--mobile-top-safe-area) + var(--mobile-top-bar-height) + 16px);
  }

  .tauriApp {
    --mobile-top-safe-area: max(64px, env(safe-area-inset-top));
  }

  .routerView {
    margin-block: var(--mobile-content-top-space) 88px;
    margin-inline: 6px;
  }

  .tauriApp :deep(.card) {
    inline-size: 95%;
  }

  .banner {
    inline-size: 90%;
    margin-block: 16px 0;
  }

  .flexBox {
    margin-block: var(--mobile-content-top-space) 88px;
  }

  .changeLogText {
    block-size: 65vh;
  }
}
